
.menuitem{
    display: none;
}
.submenu{
    display: none;
}
.submenu2{
    display: none;
}
.hover-menu:hover .menuitem{
    display: block;
}
.menuitem li:hover > .submenu{
    display: block;
}
.submenu li:hover > .submenu2{
    display: block;
}

.pst {
    position: fixed;
  top: 0;
  z-index: 100; 
  }